<div class="todos">
  <form [formGroup]="profileForm" (ngSubmit)="onSum()">
    <input
      id="task-name"
      type="text"
      placeholder="Insert task name..."
      formControlName="taskName"
      
    />
    <div class="alert alert-danger" *ngIf= "!taskName?.valid && taskName?.hasError('whitespace')">Name is required</div>
    <br /><br />
    <label class="lbldudate"><strong>Insert Due Date:</strong></label>
    <br /><br />
    <input 
    id="due-date" 
    type="date" 
    formControlName="dueDate" />
    <div class="alert alert-danger" *ngIf= "!dueDate?.valid">Date is required</div>
    <br /><br />
    <button type="submit" [disabled]="!taskName?.valid && taskName?.hasError('whitespace')" >Add Todo List</button>
  </form>
  
  <div *ngFor="let todos of todo; let i = index">
    <a>
      {{ i + 1 }}
      {{ todos.taskName }}
      {{ todos.dueDate }}
      <button>Cancel</button>
      <button>Complete</button>
    </a>
  </div>
     <!--
        class="todo-input"
        maxlength="30"
        [(ngModel)]="inputTodo"
      -->
    <!--
    <label class="lbldudate"><strong>Insert Due Date:</strong></label>
    <input
      type="date"
      name="inputDate"
      class="todo-input"
      [(ngModel)]="inputDate"
    />
    <div class="alert alert-danger" *ngIf="!inputDate">A date is required</div>
    <input type="submit" value="Add Todo" class="todo-submit" [disabled]='!inputDate' />
  </form>
  <div *ngFor="let todo of todos; let i = index" class="todo">
    <div class="id">{{ i + 1 }}</div>
    <div class="content">
      Task Name: {{ todo.content }} Due Date:
      {{ todo.duedate ? todo.duedate : "You should insert date" }}
      <div class="status">
        {{
            todo.canceled
            ? "Canceled"
            : todo.completed
            ? "Completed"
            : "In Progress"
        }}
      </div>
    </div>
    -->
<!--
    <button
      class="canceled"
      [disabled]="todo.canceled"
      (click)="disablecancel(i)"
      [disabled] = 'todo.completed'
    >
      Canceled
    </button>

    <button
      class="completed"
      [disabled]="todo.completed"
      (click)="disablecomplete(i)"
      
    >
      Completed
    </button>
  </div>
</div>
-->